{% extends "Audit/audit_base.html.twig" %}
{% set menu_selected = 'document' %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}HealthSafety">Health and Safety</a></li>
    <li><a href="{{public_base}}HealthSafety/Document">Documents</a></li>
    <li><a href="{{public_base}}HealthSafety/Policy">Policy</a></li>
    <li class='active'>{{ data.name }}</li>    
    {% endblock breadcrumbs %}

{% block h1 %} 
    View: {{ data.name }}
{% endblock h1 %}

{% block audit_body %}
{% endblock audit_body %}

{% block extra_js %}   
{% endblock extra_js %}