{% extends "base.html.twig" %}
{% set menu_selected = 'cms_admin' %}
{% block title %}| CMS Admin - Update {{ data.template.name }}{% endblock title %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}Portal/Cmsletters/index">Letter Index</a></li>
    <li class='active'>Update {{ data.template.name}}</li>    
    {% endblock breadcrumbs %}

{% block h1 %} 
    Update: {{ data.template.name }}
{% endblock h1 %}

{% block audit_body %}
{% endblock audit_body %}

{% block extra_js %}
    {{ parent() }}
{% endblock extra_js %}