{% extends "Audit/audit_base.html.twig" %}
{% set menu_selected = 'ffc' %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}Ffc/AdminIndex">First for Contractors</a></li>
    <li><a class="active">Work Sectors</a></li>
    {% endblock breadcrumbs %}

{% block h1 %} 
    All Coshh
{% endblock h1 %}

{% block audit_body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">                
                <li class="button-li"><p class="navbar-btn"><a href="{{public_base}}Ffc/Adminworksector/" class="btn btn-success">Worksector Admin</a></p></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="light-table-filter form-control" data-table="order-table" placeholder="Search Work Sectors for...">
            </form>
        </div>
    </nav>
    
{% endblock audit_body %}

{% block extra_js %}
    {{ parent() }}
    <script src="{{public_base}}js/audit/table-filter.js"></script>
    <script src="{{public_base}}js/audit/table-pagination.js"></script>
{% endblock extra_js %}