{% extends "HealthSafety/hs_base.html.twig" %}
{% set menu_selected = 'document' %}
{% block title %}| Coshh{% endblock title %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}HealthSafety/home">Health and Safety</a></li>
    <li><a href="{{public_base}}HealthSafety/Document">Documents</a></li>
    <li class='active'>Coshh</li>    
    {% endblock breadcrumbs %}

{% block h1 %} 
    All Coshh
{% endblock h1 %}

{% block audit_body %}


    <div class="modal fade" id="retireCoshh" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" value='' id='retireNow'>Yes, do it.</button>

                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">                
                <li class="button-li"><p class="navbar-btn"><a href="{{public_base}}HealthSafety/Coshh/create" class="btn btn-success">Create Coshh Assessment</a></p></li>
                <li class="button-li"><p class="navbar-btn"><a href="{{public_base}}HealthSafety/Coshh/awaiting" class="btn btn-primary">{{awaiting}} Awaiting Review</a></p></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="light-table-filter form-control" data-table="order-table" placeholder="Search for...">
            </form>
        </div>
    </nav>

    <table id="table" class="order-table table table-hover table-responsive paginated">
        <thead>
            <tr>
                <th>Document Name</th>
                <th>Author</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for coshh in data %}
                <tr>
                    <td><a href="{{public_base}}HealthSafety/Coshh/view/{{coshh.assessment.id}}">{{ coshh.assessment.name }}</a></td>
                    <td>{{ coshh.author.name }} / {{ coshh.author.username }}</td>
                    <td>{{coshh.assessment.created_at| date('d/m/Y')}}</td>
                    <td>
                        <a class="btn btn-info" href="{{public_base}}HealthSafety/Coshh/documentbyid/{{coshh.assessment.id}}">View Word Doc <i class="fa fa-file-word-o" aria-hidden="true"></i></a>
                        <a class="btn btn-primary" href="{{public_base}}HealthSafety/Coshh/view/{{coshh.assessment.id}}">View <i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-warning" href="{{public_base}}HealthSafety/Coshh/update/{{coshh.assessment.id}}">Update <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <button class="btn btn-danger setRetire" type='button' data-toggle="modal" data-target="#retireCoshh" data-coshh-id='{{coshh.assessment.id}}' data-coshh-name='{{coshh.assessment.name}}' value="{{coshh.assessment.id}}">Retire <i class="fa fa-trash" aria-hidden="true"></i></button>


                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan='10'>
                    <nav id="pagi" class='text-center'>
                        <ul class="pagination pagination-lg">

                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>            
{% endblock audit_body %}

{% block extra_js %}
    {{ parent() }}
    <script src="{{asset_base}}js/audit/table-filter.js"></script>
    <script src="{{asset_base}}js/audit/table-pagination.js"></script>


    <script>
        $('#retireCoshh').on('show.bs.modal', function (event) {
            var modal = $(this);
            var button = $(event.relatedTarget); // Button that triggered the modal
            var coshhName = button.attr('data-coshh-name'); // Extract info from data-* attributes
            var coshhId = button.attr('data-coshh-id'); // Extract info from data-* attributes
            modal.find('.modal-title').text('Are you sure you wish to retire ' + coshhName);
            modal.find('#leadText').append("<i>" + coshhName + "</i>");
            modal.find('#retireNow').val(coshhId);
        });


        $('body').on('click', '#retireNow', function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: "{{public_base}}HealthSafety/Coshh/Retire/" + id,
                dataType: 'json',
                encode: true
            }
            ).done(function (data) {
                $('#table').load(document.URL + ' #table', function () {
                    paginate();
                    $(".global-error-inner")
                            .append("<div class='alert alert-success alert-dismissible' role='alert'>  <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Succesfully retired coshh assessment!</div>");
                });
            });
        });
    </script>
{% endblock extra_js %}