{% extends "Audit/audit_base.html.twig" %}
{% set menu_selected = 'asset' %}
{% block breadcrumbs %}    
    <li class="active">Asset Manager</li>
    {% endblock breadcrumbs %}

{% block h1 %} 
    Asset Manager         
{% endblock h1 %}

{% block audit_body %}
{% include 'Audit/Asset/partials/assignment-modal.inc.html.twig' %}
{% include 'Audit/Asset/partials/retire-asset.inc.html.twig' %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="button-li"><p class="navbar-btn"><a href='{{public_base}}Audit/Asset/Create' class="btn btn-success">Add Asset</a></p></li>
                <li class="button-li"><p class="navbar-btn"><a href='{{public_base}}Audit/Audit/TakeAudit/{{data.default}}' class="btn btn-primary">Take Default Audit</a></p></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="light-table-filter form-control" data-table="order-table" placeholder="Search Assets for...">
            </form>
        </div>
    </nav>
    <div class="row">
        <table id="table" class="order-table table table-hover table-responsive paginated">
            <thead>
                <tr>
                    <th class="hidden-xs">id</th>
                    <th>Name</th>
                    <th class="hidden-xs">Type</th>
                    <th class="hidden-xs">Location</th>
                    <th class="hidden-xs">Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in data.assets %}
                    <tr>
                        <td class="hidden-xs">{{asset.id}}</td>
                        <td><a href="{{public_base}}Audit/Asset/View/{{asset.id}}">{{asset.forename}} {{ asset.middlename}} {{ asset.surname }}</a></td>
                        <td class="hidden-xs">{{asset.group_name}} / {{asset.type_name}}</td>
                        <td class="hidden-xs">{{asset.address1}}, {{asset.address2}}, {{asset.county}}, {{asset.country}}, {{asset.postcode}}.</td>
                        <td><img class="img-thumbnail img-responsive img-table hidden-xs" src="{{asset.image}}"></td>
                        <td>
                            <div class="btn-group btn-xs">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{public_base}}Audit/Asset/View/{{asset.id}}">View</a></li>
                                    <li><a href="{{public_base}}Audit/Asset/Update/{{asset.id}}">Edit</a></li>
                                    <li><button class="btn btn-block btn-info btn-xs" data-asset="{{asset.id}}" data-assetName="{{asset.forename ~ ' ' ~ asset.surname}}" data-toggle="modal" data-target="#assignmentModal">Assign Audits</button></li>
                                    <li role="separator" class="divider"></li>
                                    <li><button class="btn btn-block btn-warning btn-xs" data-asset="{{asset.id}}" data-assetName="{{asset.forename ~ ' ' ~ asset.surname}}" data-toggle="modal" data-target="#retireAssetModal">Retire</button>
                                    </li>
                                </ul>
                            </div>                                        
                            <div class="btn-group btn-xs">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Take Audit <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    {% for audit in asset.Audits %}
                                        <li><a href="{{public_base}}Audit/Audit/TakeAudit/{{audit.Audits_id}}/{{asset.id}}">{{audit.name}}</a></li>
                                        {% endfor %}

                                    <li role="separator" class="divider"></li>
                                    <li><button class="btn btn-block btn-info btn-xs" data-asset="{{asset.id}}" data-assetName="{{asset.forename ~ ' ' ~ asset.surname}}" data-toggle="modal" data-target="#assignmentModal">Assign Audits</button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan='10'>
                        <nav id="pagi" class='text-center'>
                            <ul class="pagination pagination-lg">

                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock audit_body %}

{% block extra_js %}
    {{ parent() }}
    <script src="{{public_base}}js/audit/table-filter.js"></script>
    <script src="{{public_base}}js/audit/table-pagination.js"></script>
    <script src='{{public_base}}js/select2/select2.min.js'></script>
    <script src='{{public_base}}js/audit/assignment-modal.js'></script>
    <script src='{{public_base}}js/audit/retire-asset.modal.js'></script>

{% endblock extra_js %}