{% extends "Audit/audit_base.html.twig" %}
{% set asset = data.data.Asset %}
{% set Misc = data.data.Misc %}
{% set menu_selected = 'audit' %}

{% block breadcrumbs %} 
    <li><a href="{{public_base}}Audit/asset">Asset Manager</a></li>
    <li><a href="{{public_base}}Audit/asset/view/{{asset.Assets_id}}">{{asset.forename}} {{asset.surname}} </a></li>
    <li class="active">View Report</li>
    {% endblock breadcrumbs %}

{% block h1 %} 
    View Report         
{% endblock h1 %}

{% block audit_body %}

    <section>
        <div class="page-header">
            <h1>Audit: {{Misc.AuditName}} <small>by {{Misc.Auditor}}</small></h1>
            <h3>Completed: <small>{{Misc.CompletedAt|date("d/m/Y")}}</small> </h3>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-primary heighted">
                    <div class="panel-heading">
                        <h4>Auditor Details</h4>
                    </div>
                    <div class="panel-body">
                        {% if Misc.Auditor %}<p><strong>Auditor Name: </strong>{{Misc.Auditor}}</p>{% endif%}
                        {% if Misc.Client.Company %}<p><strong>Company Name: </strong>{{Misc.Client.Company}}</p>{% endif%}              
                        {% if Misc.Client.ContactTel %}<p><strong>Contact Number: </strong>{{Misc.Client.ContactTel}}</p>{% endif%}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-primary heighted">
                    <div class="panel-heading">
                        <h4>Auditor Details</h4>
                    </div>
                    <div class="panel-body">
                        {% if Misc.Client.Address1 %}<p><strong>asset Group: </strong>{{Misc.Client.Address1 | striptags }}</p>{% endif%}
                        {% if Misc.Client.Address2 %}<p><strong>asset Type: </strong>{{Misc.Client.Address2 | striptags }}</p>{% endif%}
                        {% if Misc.Client.City %}<p><strong>Contact Email: </strong>{{Misc.Client.City}}</p>{% endif%}
                        {% if Misc.Client.County %}<p><strong>Contact Number: </strong>{{Misc.Client.County}}</p>{% endif%}
                        {% if Misc.Client.Country %}<p><strong>Contact Number: </strong>{{Misc.Client.Country}}</p>{% endif%}
                        {% if Misc.Client.Postcode %}<p><strong>Contact Number: </strong>{{Misc.Client.Postcode}}</p>{% endif%}         

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-primary heighted">
                    <div class="panel-heading">
                        <h4>Asset Details</h4>
                    </div>
                    <div class="panel-body">
                        {% if asset.forename %}<p><strong>asset Name: </strong>{{asset.forename}} {{asset.middlename}} {{asset.surname}}</p>{% endif%}
                        {% if asset.unique_ref_code %}<p><strong>Unique Reference Code: </strong>{{asset.unique_ref_code}}</p>{% endif%}
                        {% if asset.asset_group %}<p><strong>asset Group: </strong>{{asset.asset_group}}</p>{% endif%}
                        {% if asset.asset_type %}<p><strong>asset Type: </strong>{{asset.asset_type}}</p>{% endif%}
                        {% if asset.contact_email %}<p><strong>Contact Email: </strong>{{asset.contact_email}}</p>{% endif%}
                        {% if asset.contact_number %}<p><strong>Contact Number: </strong>{{asset.contact_number}}</p>{% endif%}

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-primary heighted">
                    <div class="panel-heading">
                        <h4>Asset Location</h4>
                    </div>
                    <div class="panel-body">
                        {% if asset.address1 %}<p><strong>Address 1: </strong>{{asset.address1}},</p>{% endif%}
                        {% if asset.address2 %}<p><strong>Address 2: </strong>{{asset.address2}},</p>{% endif%}
                        {% if asset.county %}<p><strong>County: </strong>{{asset.county}},</p>{% endif%}
                        {% if asset.country %}<p><strong>Country: </strong>{{asset.country}},</p>{% endif%}
                        {% if asset.postcode %}<p><strong>Postcode: </strong>{{asset.postcode}}.</p>{% endif%}

                    </div>
                </div>
            </div>

        </div>

        {% for key,Group in data.data.QuestionAnswer %}
            <div class="row" style="margin-top: 40px;">
                <section class="group table-responsive">
                    <h2>{{ key }}</h2>
                    <table class='table table-striped'>
                        <tr class="">
                            <th class="col-xs-6">
                                <label>Question</label>
                            </th>
                            <th class="col-xs-2">
                                <label>Answer</label>
                            </th>
                            <th class="col-xs-1">
                                <label>Score</label>
                            </th>
{#                            {% if Group.AnswerEvidence.length > 0 %}#}
                                <th class="col-xs-3">
                                    <label>Image</label>
                                </th>
{#                            {% endif %}#}
                        </tr>
                        {% for QA in Group %}
                            <tr class="">
                                <td class="col-xs-6">
                                    <p><b>{{loop.index}}.</b> {{ QA.Question }}</p>
                                </td>
                                <td class="col-xs-2">
                                    <p>{{ QA.Answer }}</p>
                                </td>
                                <td class="col-xs-1">
                                    <p>{{ QA.AnswerScore }}</p>
                                </td>
{#                                {% if QA.AnswerEvidence %}#}
                                    <td class="col-xs-3">
                                        <img class="img img-thumbnail img-responsive" style='max-width: 200px;' src="{{ QA.AnswerEvidence }}">
                                    </td>
{#                                {% endif %}#}
                            </tr>
                        {% endfor %}
                    </table>
                </section>
            </div>
        {% endfor %}
    </section>

    <section>
        <h3 class="text-right"><small>Result: </small>{{Misc.TotalScore}} / {{Misc.Possible}} <i><strong>{{Misc.PassFail.name}}</strong></i></h3>
    </section>


    {#    <pre>
            {{ dump(data)}}
        </pre>#}

    {#       {% for answer in data.data.answers %}#}
    {#           <h2>{{answer.answer_text}}</h2>#}
    {#           {% endfor %}#}


{% endblock audit_body %}

{% block extra_js %}
    <script src="{{public_base}}js/matchHeight/jquery.matchHeight-min.js"></script>
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.heighted').matchHeight();
        });
    </script>
{% endblock extra_js %}