{% extends "base.html.twig" %}

{% block body %}
    
{#        <div class="row site-wrapper-inner">#}
            <div class="larger-cover-container">
                                
                <div class="inner cover box-with-border">        
                    <div class="panel-heading text-center">            
                        <h2>Help I Have Forgotten My Password</h2>
                    </div>
                    <div class="panel-body">
                        If you have forgotten your password, please use the form below to request a new one.
                        <div class="panel-heading text-center">
                        </div>
                        <form id="forgotForm" method="POST" name='forgotten_pass' action="{{public_base}}Portal/Login/ForgottenPassword">
                            <p>
                                <strong>Step 1:</strong> Enter your Client number.</p>
                            <p>
                                <small>
                                    <i>If you cannot remember your client number we will attempt to proceed without it.</i>
                                </small>
                            </p>
                            <div class="form-group bg-red">
                                <label class="control-label" for="_client">Client Number</label>
                                <input type="number" id="_client" value='{{form._client}}' name="_client" placeholder="Your Client Number here." maxlength="5" class="form-control small-input" /></div>
                            <p><strong>Step 2:</strong> Enter either your Username or Email Address.</p>
                            <div class="form-group bg-amber"><label class="control-label required" for="_username">Username or Email *</label>
                                <input type="text" id="_username"  value='{{form._username}}' name="_username" required="required" placeholder="Enter your Username or Email here." class="form-control small-input" /></div>
                            <p><strong>Step 3:</strong> Enter a new password for your account.</p><p><small><i>Make sure it's memorable.</i></small></p>
                            <div class="bg-green margin-bottom">
                                <div class="form-group">
                                    <label class="control-label required" for="_password">Password *</label>
                                    <input type="password" id="_password" name="_password" required="required" placeholder="Enter a new password here." class="form-control small-input" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label required" for="_password_second">Repeat Password *</label>
                                    <input type="password" id="_password_second" name="_password_second" required="required" placeholder="Repeat your password here." class="form-control small-input" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="forgot_password_save" name="forgot_password" class="btn-success btn">Request New Password Now</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <a href='{{public_base}}Portal/Login/'>Back to login page.</a>
                </div>
            </div>
{#        </div>#}

    <script src="{{asset_base}}js/portal/forgot.js"></script>
    <script>
        var password = document.getElementById("forgot_password_password_first")
                , confirm_password = document.getElementById("forgot_password_password_second");

        function validatePassword() {
            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

{% endblock body %}