{% extends "Audit/audit_base.html.twig" %}
{% set menu_selected = 'audit' %}
{% block breadcrumbs %}
    <li><a href="{{public_base}}Audit/Asset">Asset Manager</a></li>
    <li><a href="{{public_base}}Audit/Audit">Audit Home</a></li>
    <li class="active">Create Audit</li>
    {% endblock breadcrumbs %}

{% block h1 %} 
    Create Audit
{% endblock h1 %}

{% block audit_body %}

    <form name='addAudit' action='{{public_base}}Audit/Audit/create' method='POST'>
        <section class="row">

            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Audit Name</label>
                    <input type="text" class="form-control" name='name' placeholder="Name your audit" required>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name='description' placeholder="Name your audit">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Audit Type</label>
                    <select class="form-control" id='auditTypes' name='auditTypes'>
                        {% for type in data.auditTypes %}
                            <option value='{{type.id}}'>{{type.name}}</option>
                        {% endfor %}
                    </select>                
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Grading Type/Pass Rate</label>
                    <select class="form-control" id='auditGradings' name='auditGradings'>
                        {% for type in data.auditGradings %}
                            <option value='{{type.Aid}}'>{{type.name}}</option>
                        {% endfor %}
                    </select>                
                </div>
            </div> 
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Review Frequency</label>
                    <select class="form-control" id='reviewFrequency' name='reviewFrequency'>
                        {% for frequency in data.frequencies %}
                            <option value='{{frequency.id}}'>{{frequency.name}}</option>
                        {% endfor %}
                    </select>                
                </div>
            </div> 
        </section>

        <section class='page-container'>
            <section class="panel panel-info container-fluid multi-field-wrapper question-group" data-groupid='1'>
                <input type="hidden" value="1" class="groupIndexHidden">
                <header class="panel-heading row">
                    <div class="panel-title">
                        <div class="form-group col-sm-8 col-md-9 col-lg-10">
                            <label>Question Group Name:</label>
                            <input type="text" name='groups[1][name]' id="1name1" class="form-control">  
                        </div>                
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <button type="button" class="btn btn-danger btn-xs pull-right removeGroup">Remove Group <span class="fa fa-minus-square"></span>&nbsp;</button>
                        </div>
                    </div>
                </header>
                <section class="panel-body question-row-1">
                    <input type="hidden" value="1" class="groupIndexHidden">
                    <div class="row clonedInput" data-el-count='1' style="position:relative;">
                        <div class="col-lg-4">
                            <label>Question</label>
                            <textarea name='groups[1][questions][0][question]' id="1question1" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="switch-label">Answer Type</label>                            
                                <select name='groups[1][questions][0][QuestionTypes_id]' id="1QuestionTypes_id1" class="group_question_type form-control">
                                    {% for questionType in data.questionTypes %}
                                        <option value="{{questionType.id}}">{{ questionType.typeName}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-1">
                            <label class="control-label switch-label text-center">Add Expiry</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="groups[1][questions][0][add_expiry]" class="onoffswitch-checkbox" id="1add_expiry1" value="1" checked>
                                <label class="onoffswitch-label add-expiry" for="1add_expiry1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>

                        </div>
                        <div class="col-xs-3 col-lg-1">
                            <label class="control-label switch-label text-center">Expiry Required</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="groups[1][questions][0][expiry_required]" class="onoffswitch-checkbox" value="1" id="1expiry_required1">
                                <label class="onoffswitch-label expiry-required" for="1expiry_required1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>

                        </div>
                        <div class="col-xs-3 col-lg-1">
                            <label class="control-label switch-label text-center">Add Evidence</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="groups[1][questions][0][add_evidence]" class="onoffswitch-checkbox" value="1" id="1add_evidence1">
                                <label class="onoffswitch-label add-evidence" for="1add_evidence1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-3 col-lg-1">
                            <label class="control-label switch-label text-center">Evidence Required</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="groups[1][questions][0][evidence_required]" class="onoffswitch-checkbox" value="1" id="1evidence_required1">
                                <label class="onoffswitch-label evidence-required" for="1evidence_required1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="question-del-cont">  
                            <div class="question-del-positioner">
                                <button type="button" class="removeQuestion btn btn-md btn-danger center-block btn-round pull-right" value='g1q1'>
                                    <span class="fa fa-trash"></span>&nbsp;
                                </button>
                            </div>
                        </div>                    
                    </div>
                </section>
                <div class="col-xs-12" style="margin-bottom: 10px;">

                    <button type="button" value='1' class="btn btn-info addQuestion">
                        Add Question 
                        <i class="fa fa-plus-circle" aria-hidden="true"> </i>
                    </button>

                </div>
            </section>
        </section>


        <button type="button" class="addGroup btn btn-primary">
            <i class="fa fa-plus-square" aria-hidden="true"> </i>
            Add Group
        </button>

        <button class="btn btn-success" type='submit'>Submit</button>
    </form>

    {% include '/Audit/Audit/template/group-template.html.twig' %}

{% endblock audit_body %}




{% block extra_js %}
    <script src="{{asset_base}}js/audit/dynamic-audit-form.js"></script>
    <script src='{{asset_base}}js/select2/select2.min.js'></script>
    <script>
        $("#auditTypes").select2();
        $("#auditGradings").select2();
        $("#reviewFrequency").select2();
    </script>

{% endblock extra_js %}